In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('diamonds_train.csv')
train.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0  326.0  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0  334.0  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0  335.0  4.34  4.35  2.75

In [3]:
test = pd.read_csv('diamonds_test.csv')
test

      carat        cut color clarity  depth  table     x     y     z
0      0.73      Ideal     G    VVS2   61.9   55.0  5.83  5.77  3.59
1      0.61    Premium     F    VVS2   59.7   58.0  5.56  5.53  3.31
2      1.55    Premium     I     VS1   58.2   60.0  7.69  7.59  4.45
3      0.46       Good     F      IF   56.2   61.0  5.16  5.24  2.92
4      1.10  Very Good     F     VS2   60.6   58.0  6.67  6.77  4.07
...     ...        ...   ...     ...    ...    ...   ...   ...   ...
3935   1.58    Premium     I     VS1   61.1   59.0  7.52  7.44  4.57
3936   1.00  Very Good     F     SI1   63.1   59.0  6.29  6.22  3.95
3937   1.13    Premium     H     VS1   58.9   58.0  6.81  6.78  4.00
3938   1.51      Ideal     E     VS2   62.8   56.0  7.31  7.24  4.57
3939   1.55      Ideal     G     SI2   60.7   55.0  7.54  7.51  4.57

[3940 rows x 9 columns]

In [4]:
train['cut'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [5]:
cut = {'Fair': 0,
           'Very Good' : 1,
           'Good' : 2,
           'Premium' : 3 ,
           'Ideal':4}

train['cut'] = train['cut'].map(cut)
test['cut'] = test['cut'].map(cut)

In [6]:
train['color'].unique()

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [7]:
train['clarity'].unique()

array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'],
      dtype=object)

In [8]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
train['color'] = label_encoder.fit_transform(train['color'])
test['color'] = label_encoder.fit_transform(test['color'])

train['clarity'] = label_encoder.fit_transform(train['clarity'])
test['clarity'] = label_encoder.fit_transform(test['clarity'])

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21472 entries, 0 to 21471
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    21472 non-null  float64
 1   cut      21472 non-null  int64
 2   color    21472 non-null  int64
 3   clarity  21472 non-null  int64
 4   depth    21472 non-null  float64
 5   table    21472 non-null  float64
 6   price    21471 non-null  float64
 7   x        21471 non-null  float64
 8   y        21471 non-null  float64
 9   z        21471 non-null  float64
dtypes: float64(7), int64(3)
memory usage: 1.6 MB

In [16]:
train = train.dropna(axis=0, how='all', subset=['price'])

In [10]:
train.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [17]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
for i in ['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y','z']:
  train[[i]] = scaler.fit_transform(train[[i]])
  test[[i]] = scaler.fit_transform(test[[i]])

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [18]:
train

,carat,cut,color,clarity,depth,table,price,x,y,z
0,-2.289609,1.083954,-1.046940,-0.367520,-0.205010,-1.245798,326.0,-2.886380,-2.887948,-2.882565
1,-2.348527,0.297419,-1.046940,-0.996087,-1.314032,1.471646,326.0,-2.959410,-3.060670,-3.117024
2,-2.289609,-0.489116,-1.046940,0.261047,-3.205892,3.283275,327.0,-2.764665,-2.776912,-3.117024
3,-2.112855,0.297419,1.273218,0.889613,0.382119,0.112924,334.0,-2.582092,-2.579515,-2.491800
4,-2.053937,-0.489116,1.853257,-0.367520,0.969248,0.112924,335.0,-2.411690,-2.431468,-2.257342
...,...,...,...,...,...,...,...,...,...,...
21466,2.040852,-0.489116,0.113139,-0.996087,-2.357817,2.830367,11180.0,1.909210,1.886584,1.318154
21467,0.567906,-0.489116,-0.466901,1.518180,1.164958,-0.339983,11182.0,0.509482,0.480133,0.732007
21468,0.656283,1.083954,0.113139,1.518180,-0.400720,-0.792890,11182.0,0.752913,0.714541,0.634316
21469,0.508989,1.083954,-1.046940,2.146747,-0.139774,0.112924,11184.0,0.558168,0.615843,0.556163
21470,2.954079,0.297419,1.853257,-0.996087,-0.987849,-0.792890,11188.0,2.067440,2.022294,1.787071

In [19]:
y=  train[['price']]

In [20]:
x = train.copy()
x.drop(columns= ['price'], inplace= True)

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, shuffle=True)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, shuffle=True)

In [27]:
# modeling
from sklearn.linear_model import LinearRegression

model =LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_val)

In [29]:
# evaluate your model on train data 
from sklearn.metrics import r2_score

r2_score(y_val, y_pred)

0.7916146448978976

In [30]:
# evaluate model on tast data
y_pred = model.predict(X_test)
r2_score(y_test, y_pred)

0.8022807517734093